{% extends "base_layout.html" %}
{% load i18n media navigation %}
{% block extra_header %}
{{ block.super }}
{% jscript "js/date.format.js" %}
<script type="text/javascript">
var POST_URL = "{% url rcon_command server.slug %}";
</script>
{% jscript "js/admin.js" %}
{% endblock%}
{% block main_content %}
<h3>{% trans "RCON" %}</h3>
<input type="button" class="red" style="float: right;" onclick="do_call_get('{-% url admin_refresh_status %-}','status')" value="{% trans "Refresh" %}">
<div id="status">
{% include "rconapp/rcon/status.html" %} 
</div>
<div id="commands">
{% include "rconapp/rcon/commands.html" %}
</div>
{% if perms.rconapp.view_online %}
<input type="button" class="red" style="float: right;" onclick="do_call_get('{-% url admin_refresh_clients %-}','clients')" value="{% trans "Refresh" %}">
<div id="clients">
{% include "rconapp/rcon/clients.html" %}
</div>
{% endif %}
{% endblock %}