{% extends "base_layout.html" %}
{% load i18n formtags %}
{% block title %}{{ block.super }} | {{server.name}}{% endblock %}
{% block main_content %}
<div class="post">
    <div class="post_title"><h1>{{server.name}}</h1></div>
    <div class="post_date">/connect {{server.ip}}:{{server.port}}</div>
    <div class="post_body">
    // TODO: agregar una agenda con reservas existentes
    </div>
    <div class="post_meta">
        // TODO: ver permisos
        <a href="{% url book_create %}?s={{server.slug}}">{% trans "Book" %}</a>
        <a href="{% url rcon_home server.slug %}">{% trans "Manage" %}</a>
    </div>
</div>
{% endblock %}