{% extends "base.html" %}
{% load i18n settingstag media %}
{% block main_page %}
    <div id="page">
      <div id="header">
      </div>
      <div id="nav">
      </div>
      <div id="teaser">
      {% block teaser %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}      
      {% endblock %}
      </div>
      <div id="main">
      	{% block central_content %}
            {% block main_content_header %}{% endblock %}
            {% block main_content %}{% endblock %}
        {% endblock %}
      </div>
      <div id="footer">
      <div id="footer-nav">
		{% block footnav %}
		{% endblock %}
      </div>
      {% block footer %}{% setting "APP_NAME" %} v{% setting "VERSION" %}<br/>Copyright &copy; 2011 SGT Development{% endblock %}
      </div>
    </div>
{% endblock %}																																																																																																																																																						