{% extends "base_simple.html" %}
{% load i18n settingstag navigation media extendedtags %}
{% block extra_header %}
{% style "css/jquery.place.css" %}
{% jscript "js/jquery.measure.js" %}
{% jscript "js/jquery.place.js" %}
{% jscript "js/jquery.pulse.js" %}
{% jscript "js/jquery.loading.js" %}
<script type="text/javascript">
$(document).ready(function() {
    $('body').ajaxStart(function() {
        $.loading(true, {text: '{% trans "Loading..." %}'});
    }); 
    $('body').ajaxStop(function() {
        $.loading(false);      
    });
});
</script>
{% endblock %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              