{% load i18n settingstag media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %}{% setting "SITE_NAME" %}{% endblock %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link type="image/x-icon" href="{% media 'favicon.ico' %}" rel="icon" />
<link type="image/x-icon" href="{% media 'favicon.ico' %}" rel="shortcut icon" />
{% style "css/styles.css" %}
<script type="text/javascript">
var MEDIA_URL='{% setting "MEDIA_URL" %}';
</script>
{% jscript "js/jquery/jquery-1.5.1.min.js" %}
{% jscript "js/jquery/jquery.cookie.js" %}
{% jscript "js/base.js" %}
{% block extra_header %}
{% endblock %}
</head>
<body id="top">
<div id="layout_wrapper_outer">
{% block main_page %}{% endblock %}
</div>
</body>
</html>																																																																																																																																																			